<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>crd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BC51C2B91DD4EE7D0042BB5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC51C2CD1DD4EE7D0042BB5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BC51C2D81DD4EE7D0042BB5B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
